<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/admin-schedule.css">
  <link rel="icon" href="/images/logo.ico" type="image/x-icon" />
  <title>ADB | Edición Turnos</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a id="titulo-nav" class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" id="logo">Altos de
          Balcarce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/mis-turnos">Mis turnos</a>
            </li>
            <% if (admin) { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Administrador</a>
              </li>
              <% } %>
                <li class="nav-item">
                  <a class="nav-link" href="/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="contenido">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Musculación</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
          role="tab" aria-controls="nav-profile" aria-selected="false">Pilates</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <form action="/admin/schedule/musculacion" method="POST">

          <h3>Lunes <img src="/images/plus-circle.svg" onclick="agregar('lunes')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="lunes">
              <% horMusc.forEach(element=> { %>
                <% if (element.dia===0) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Martes <img src="/images/plus-circle.svg" onclick="agregar('martes')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="martes">
              <% horMusc.forEach(element=> { %>
                <% if (element.dia===1) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Miércoles <img src="/images/plus-circle.svg" onclick="agregar('miercoles')" class="agregar" alt="agregar">
          </h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="miercoles">
              <% horMusc.forEach(element=> { %>
                <% if (element.dia===2) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Jueves <img src="/images/plus-circle.svg" onclick="agregar('jueves')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="jueves">
              <% horMusc.forEach(element=> { %>
                <% if (element.dia===3) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Viernes <img src="/images/plus-circle.svg" onclick="agregar('viernes')" class="agregar" alt="agregar">
          </h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="viernes">
              <% horMusc.forEach(element=> { %>
                <% if (element.dia===4) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Sábado <img src="/images/plus-circle.svg" onclick="agregar('sabado')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="sabado">
              <% horMusc.forEach(element=> { %>
                <% if (element.dia===5) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Domingo <img src="/images/plus-circle.svg" onclick="agregar('domingo')" class="agregar" alt="agregar">
          </h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="domingo">
              <% horMusc.forEach(element=> { %>
                <% if (element.dia===6) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form action="/admin/schedule/pilates" method="POST">

          <h3>Lunes <img src="/images/plus-circle.svg" onclick="agregarPilates('lunes')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="lunesPilates">
              <% horPil.forEach(element=> { %>
                <% if (element.dia===0) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Martes <img src="/images/plus-circle.svg" onclick="agregarPilates('martes')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="martesPilates">
              <% horPil.forEach(element=> { %>
                <% if (element.dia===1) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Miércoles <img src="/images/plus-circle.svg" onclick="agregarPilates('miercoles')" class="agregar" alt="agregar">
          </h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="miercolesPilates">
              <% horPil.forEach(element=> { %>
                <% if (element.dia===2) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Jueves <img src="/images/plus-circle.svg" onclick="agregarPilates('jueves')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="juevesPilates">
              <% horPil.forEach(element=> { %>
                <% if (element.dia===3) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Viernes <img src="/images/plus-circle.svg" onclick="agregarPilates('viernes')" class="agregar" alt="agregar">
          </h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="viernesPilates">
              <% horPil.forEach(element=> { %>
                <% if (element.dia===4) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Sábado <img src="/images/plus-circle.svg" onclick="agregarPilates('sabado')" class="agregar" alt="agregar"></h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="sabadoPilates">
              <% horPil.forEach(element=> { %>
                <% if (element.dia===5) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>

          <h3>Domingo <img src="/images/plus-circle.svg" onclick="agregarPilates('domingo')" class="agregar" alt="agregar">
          </h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Cupo</th>
              </tr>
            </thead>
            <tbody id="domingoPilates">
              <% horPil.forEach(element=> { %>
                <% if (element.dia===6) { let random=Math.random(); let desdeHoras=element.desdeHoras < 10 ? ('0' +
                  element.desdeHoras) : element.desdeHoras; let desdeMinutos=element.desdeMinutos < 10 ? ('0' +
                  element.desdeMinutos) : element.desdeMinutos; let desde=desdeHoras + ':' + desdeMinutos; let
                  hastaHoras=element.hastaHoras < 10 ? ('0' + element.hastaHoras) : element.hastaHoras; let
                  hastaMinutos=element.hastaMinutos < 10 ? ('0' + element.hastaMinutos) : element.hastaMinutos; let
                  hasta=hastaHoras + ':' + hastaMinutos; %>

                  <tr id="<%= random %>">
                    <td><img class="manito" src="/images/dash-circle.svg" onclick="sacar(<%= random %>)" alt="quitar">
                    </td>
                    <td><input type="time" class="form-control" name="desdelunes" value="<%= desde %>"></td>
                    <td><input type="time" class="form-control" name="hastalunes" value="<%= hasta %>"></td>
                    <td><input type="number" class="form-control" name="cupolunes" value="<%= element.cupo %>"></td>
                  </tr>

                  <% } %>
                    <% }) %>
            </tbody>
          </table>
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
      </div>
    </div>


  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
  <script src="/js/agregarSacar.js"></script>
</body>

</html>